<div class="mb-3">
    <h3>FAQ</h3>
</div>

<div class="container mb-3">
    <div class="row">
        <div class="col-4">
            <div class="accordion" id="accordionExample">
                <div class="card bg-dark">
                    <div class="card-header text-center" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Account Functions
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="hide collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac enim rutrum, egestas eros vel, euismod libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed iaculis egestas mollis. Quisque id sapien neque. Etiam eget tellus nec magna suscipit bibendum non at neque. Suspendisse porttitor dolor nec massa viverra commodo. Ut venenatis egestas vestibulum. Integer a pretium odio. In vel mi sed eros consequat tincidunt. Pellentesque aliquet efficitur dolor. Quisque rhoncus sollicitudin libero, in accumsan ipsum blandit nec. Nullam efficitur dictum lectus malesuada pretium.
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-4">
            <div class="card bg-dark">
                <div class="card-header text-center" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Crypto Deposit/Withdrawal
                        </button>
                    </h2>
                </div>

                <div id="collapseTwo" class="hide collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        Aenean vel pellentesque massa. Integer suscipit condimentum nibh nec blandit. Suspendisse pharetra dignissim dui tristique lacinia. Nulla et sem eu neque lobortis ullamcorper vel nec dui. Suspendisse egestas nisl vitae nulla semper ornare. Maecenas eu mollis ante. Nulla sed odio hendrerit, luctus nisl et, auctor arcu. Aenean in tempor sem.
                    </div>
                </div>
            </div>
        </div><div class="col-4">
            <div class="card bg-dark">
                <div class="card-header text-center" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Security
                        </button>
                    </h2>
                </div>

                <div id="collapseThree" class="hide collapse" aria-labelledby="headingThree" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        Curabitur posuere orci in quam congue, aliquam ullamcorper ligula interdum. Vestibulum lobortis mi quis imperdiet venenatis. In nec ante vitae sem placerat tincidunt. Ut cursus nunc nec cursus bibendum. Praesent sit amet neque ac risus vulputate varius. Fusce gravida turpis non rutrum tempor. Duis sagittis et sapien a hendrerit. Sed eu metus lacinia, gravida nisi ut, luctus neque.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mb-5">
    <div class="row">
        <div class="col-4">
            <div class="accordion" id="accordionExample">
                <div class="card bg-dark">
                    <div class="card-header text-center" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                VIP
                            </button>
                        </h2>
                    </div>

                    <div id="collapseFour" class="hide collapse" aria-labelledby="headingFoure" data-parent="#accordionExample" style="">
                        <div class="card-body">
                            Aliquam tristique mauris aliquam, venenatis risus et, condimentum nisi. Praesent mi ligula, rhoncus nec faucibus sed, mattis ut erat. Sed quis odio elit.
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-4">
            <div class="card bg-dark">
                <div class="card-header text-center" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Finance
                        </button>
                    </h2>
                </div>

                <div id="collapseFive" class="hide collapse" aria-labelledby="headingFive" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        Nullam venenatis efficitur libero nec interdum. Praesent at purus at purus ultricies sodales nec a augue. Fusce semper diam quis eros aliquet pharetra. Donec non orci vel justo maximus varius sit amet vel arcu. Nulla bibendum ut nunc sed feugiat. Nulla faucibus in elit eu vehicula. 
                    </div>
                </div>
            </div>
        </div><div class="col-4">
            <div class="card bg-dark">
                <div class="card-header text-center" id="headingSix">
                    <h2 class="mb-0">
                        <button class="btn text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Other Topics
                        </button>
                    </h2>
                </div>

                <div id="collapseSix" class="hide collapse" aria-labelledby="headingSix" data-parent="#accordionExample" style="">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
