@{
    ViewData["Title"] = "Home Page of The ADMINS";
}

<div class="text-center">
    <h1>Welcome To The Admin Area</h1>
    <h3>Here you can see all users, their applications and promote them to managers</h3>
</div>
