html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    background-image: url(../Images/rm314-adj-02-min.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.cryptotable {
    font-size: 18px;
}
.buysell {
    font-size: 80px;
    color: white;
    font-weight: bold;
}
.crypto {
    font-size: 80px;
    color: #ffd11a;
    font-weight: bold;
}
.asd {
    background: rgba(0, 0, 0, 0);
    border: none;
}

.fa-star {
    stroke: #000;
    stroke-width: 30px;
    color: white;
    cursor: pointer;
}
.fa-star.fill {
    color: #ffd700
}
.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}
.modal-content{
    height: 500px;
    width: 700px;
}
a.disabled {
    pointer-events: none;
    cursor: default;
}