html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'League Spartan', sans-serif;
}

* {
    font-family: 'League Spartan', sans-serif;
}

.cryptotable {
    font-size: 18px;
}
.buysell {
    font-size: 80px;
    color: white;
    font-weight: bold;
}
.crypto {
    font-size: 80px;
    color: #ffd11a;
    font-weight: bold;
}
.asd {
    background: rgba(0, 0, 0, 0);
    border: none;
}