@model AddArticleFormModel

@{
    ViewData["Title"] = "Add Article";
}

<form method="post">
  <div class="mb-3">
    <label asp-for="ImageURL">Image Url</label>
    <input asp-for="ImageURL" type="text" class="form-control">
  </div>

  <div class="mb-3">
    <label asp-for="Content">Content</label>
    <textarea asp-for="Content" class="form-control" rows="13"></textarea>
  </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>