@model AddAssetFormModel

@{
    ViewData["Title"] = "Add Asset";
}

<div class="mb-3">
    <h1>Add an asset</h1>
    <h2>Create a new asset to be traided on the platform</h2>
</div>
<section>
    <form method="post">
        <div class="col-sm-6">
            <label asp-for="Ticker" class="form-label">Ticker</label>
            <input asp-for="Ticker" type="text" class="form-control">
            <span asp-validation-for="Ticker" class="small text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control">
            <span asp-validation-for="Name" class="small text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="CreatorName" class="form-label">Creator Name</label>
            <input asp-for="CreatorName" type="text" class="form-control">
            <span asp-validation-for="CreatorName" class="small text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="TotalSypply" class="form-label">Total Supply</label>
            <input asp-for="TotalSypply" type="text" class="form-control">
            <span asp-validation-for="TotalSypply" class="small text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="ImageURL" class="form-label">Image URL</label>
            <input asp-for="ImageURL" type="text" class="form-control">
            <span asp-validation-for="ImageURL" class="small text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="Story" class="form-label">Story</label>
            <textarea asp-for="Story" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Story" class="small text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</section>
