@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="css-1obdq75">Buy & sell Crypto</h1>
    <h3 class="css-1obdq75">The Best Bulgarian Trading Platform</h3>
    <a data-bn-type="button" aria-label="register" class=" css-ag45q9" href="/Identity/Account/Register">Register Now</a>
</div>
