@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h1 class="display-3">Buy & Sell Crypto</h1>
    <h1 class="display-4">The Best Bulgarian Trading Platform</h1>
</div>
<div class="fc-d03c8e14-1 fc-d03c8e14-2"></div>
<div>
    <p class="lead">Sign up today and get a 300,000 USD Bonus!</p>
</div>
<div class="fc-d03c8e14-1 fc-d03c8e14-3"></div></>
<div>
    <a data-bn-type="button" aria-label="register" class="btn btn-primary" href="/Identity/Account/Register">Get Started</a>
</div>

