@{
    ViewData["Title"] = "Home Page of The Managers";
}

<div class="container">
    <div class="text-center">
        <h1>Congratulations, you are now a manager</h1>
        <h3>As a manager you have the important task of adding new assets for our users to trade, as well as articles with valuable information</h3>
    </div>
    <div class="row text-center">
        <div class="col-6">
            <a href="/Assets/Add" class="button btn btn-success mt-2 rounded-pill">Add Asset</a>
        </div>
        <div class="col-6">
            <a href="/Articles/Add" class="button btn btn-primary mt-2 rounded-pill">Add Article</a>
        </div>
    </div>
</div>